DATABASE_URL=postgresql://your_postgres_url  # PostgreSQL database URL
MEITY_API_KEY_VALUE=your_bhashini_api_key               # Bhashini API key
LLM_PROVIDER=your_llm_provider_name_here                # Supported options: openai, vllm
LLM_MODEL_NAME=your_llm_model_name_here                 # LLM model name, specific to provider
INFERENCE_ENDPOINT_URL=your_inference_endpoint_url_here # VLLM endpoint
INFERENCE_API_KEY=your_inference_api_key_here           # VLLM API key
MAPBOX_API_TOKEN=your_mapbox_token_here                 # Mapbox for geocoding
MARQO_ENDPOINT_URL=your_marqo_endpoint_url_here         # Vector DB (Marqo) Endpoint URL
MARQO_INDEX_NAME=your_marqo_index_name_here             # Vector DB (Marqo) Vector Index - Name
OPENAI_API_KEY=your_openai_api_key_here                 # OPENAI API KEY if LLM model is openai
BAP_ID=your_bap_id                                      #BAP_ID, api request payload
BAP_URI=your_bap_uri                                    #BAP_URI, api request payload
BAP_ENDPOINT=your_api_endpoint                          #API endpoint for weather, mandi, warehouse and scheme

# PostgreSQL Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/load_agri
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10

# Azure Configuration
azure_foundary_api_key=None
azure_foundary_region=None

# Moderation
ENABLE_MODERATION = true